# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node modules
node_modules/

# Compiled output
/dist

# Logs
*.log

# Environment files
.env
.env.*

# IDE files
.idea/
.vscode/
